.Card {
    position: relative;
    border-radius: 10px;
    overflow: hidden;
    max-width: 340px;
}

.Card__content {
    position: relative;
    padding-bottom: calc(100% - 40px);
    /* Déduction de la hauteur du titre (par exemple, 40px) */
}

.Card__image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.Card__title {
    position: absolute;
    bottom: 10px;
    left: 10px;
    color: #FFF;
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    padding: 5px;
    margin: 0;
}