.Collapse {
    background-color: $color-backgroundHome;
    color: $color-white;
    border-radius: 10px;
    font-size: 14px;
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 31px;


    & .collapse-head {
        @extend %displayflex;
        background-color: $color-primary;
        flex-direction: row;
        justify-content: space-between;
        height: 50px;
        border-radius: 10px;
        padding: 0 20px;

        @media screen and (max-width: $tablette) {
            height: 30px;
            padding: 0 15px;
        }

        & h2 {
            display: flex;
            justify-content: center;
            flex-direction: column;
            height: 100%;
            color: $color-white;
            font-size: 24px;
            font-weight: 500;

            @media screen and (max-width: $tablette) {
                font-size: 18px;
            }
        }

        & span {
            & img {
                display: flex;
                justify-content: flex-end;
                margin-right: 10px;
                width: 60%;
            }
        }
    }

    & .collapse-desc {
        color: black;
        padding: 30px 12px 27px 20px;
        font-size: 18px;
    }
}