/* Slider container */
.slider-container {
    width: 90%;
    height: 415px;
    overflow: hidden;
    position: relative;
}

/* Slideshow container */
.slideshowSlider {
    display: flex;
    transition: transform 0.5s ease;
}

/* Slide */
.slide {
    height: 415px;
    flex-shrink: 0;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 10px;
}

/* Mobile styles */
@media only screen and (max-width: 600px) {
    .slide {
        height: 255px !important;

    }

    .prev-btn,
    .next-btn {
        top: 50% !important;
        font-size: 25px !important;
    }

    .slider-container {
        width: 90%;
        height: 255px !important;
        overflow: hidden;
        position: relative;
    }

    .photo-number {
        display: none;
    }
}

/* Bouton précédent */
.prev-btn,
.next-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    border: none;
    color: white;
    font-size: 55px;
    padding: 10px;
    cursor: pointer;
    z-index: 1;
    background-color: transparent;
}

/* Positionnement de la flèche précédente */
.prev-btn {
    left: 10px;
}

/* Positionnement de la flèche suivante */
.next-btn {
    right: 10px;
}

/* Positionnement du numéro de la photo */
.photo-number {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    font-size: 18px;
    z-index: 1;
}