.details_container_details {
    display: flex;
}


.details_tag_container {
    display: flex;
    gap: 10px;
}

.details_tag_container p {
    width: 115px;
    height: 25px;
    border-radius: 10px;
    background: #FF6060;
    color: #FFF;
    text-align: center;
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
}

/* Style pour le bouton Afficher les équipements */
.details_container_details button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    margin-top: 10px;
    cursor: pointer;
}

/* Style pour la liste des équipements */
.details_description_container {}

/* Style des équipements */
.details_description_container p {
    margin: 5px 0;
}