.SectionLogement {
    display: flex;
    width: 1440px;
    padding-top: 45px;
    flex-direction: column;
    align-items: center;
    gap: 50px;
}

.details_container {
    display: flex;
    width: 1240px;
    flex-direction: column;
    margin: 0 auto;
    /* Centre le conteneur horizontalement */
    padding-left: 20px;
    /* Ajoutez un padding gauche pour l'espace */
}


.details_title_container h2 {
    color: #FF6060;

    font-family: Montserrat;
    font-size: 36px;
    font-style: normal;
    font-weight: 500;
}

.details_container_details {
    display: flex;
    align-items: center;
    gap: 76px;

    button {
        background: #FF6060;
        cursor: pointer;
        border-radius: 10px;
        border: none;
        color: #FFF;
        font-family: Montserrat;
        font-size: 18px;
        font-style: normal;
        font-weight: 700;
        display: flex;
        width: 582px;
        padding: 10px 20px 10px 10px;
        align-items: center;
    }
}

.toggle-button {
    background: #FF6060;
    cursor: pointer;
    border-radius: 5px;
    border: none;
    color: #FFF;
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    display: flex;
    justify-content: space-between;
    width: 582px;
    padding: 10px 20px 10px 10px;
    align-items: center;

    svg {
        margin-left: 10px;
    }
}

.details_tag_container {
    display: flex;
    gap: 10px;

    p {
        width: 115px;
        height: 25px;
        border-radius: 10px;
        background: #FF6060;
        color: #FFF;
        text-align: center;
        font-family: Montserrat;
        font-size: 14px;
        font-style: normal;
        font-weight: 700;
    }
}

.details_profil_container {
    color: #FF6060;
    text-align: right;
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    margin-top: 20px;
    /* Ajoute un espace en haut */
    padding: 20px;
    /* Ajoute un padding pour l'espace interne */
    border: 1px solid #FF6060;
    /* Ajoute une bordure */
    border-radius: 10px;
    /* Ajoute une bordure arrondie */

    & img {
        border-radius: 100px;
    }
}


.details_description_container {
    p {
        margin: 5px 0;
    }
}