.listeCard {
    width: 90%;
    /* Largeur fixe de votre liste */
    position: relative;
    overflow: hidden;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    margin-left: auto;
    /* Centre la liste horizontalement */
    margin-right: auto;
    /* Centre la liste horizontalement */
}