body {
    margin: 0;
}

.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: black;
    width: 100%;
    padding: 66px 0;
    bottom: 0;
    margin-top: 50px;


    &__logo {
        display: flex;
        justify-content: center;
        /* Centrer horizontalement */
        margin-bottom: 29px;
        flex-shrink: 0;
    }

    &__p {
        color: #FFF;
        text-align: center;
        font-family: Montserrat;
        font-size: 24px;
        font-style: normal;
        font-weight: 500;
        margin: auto;
        /* Centrer horizontalement */
    }
}