.header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: #ffffff;
    margin: 0 auto;
    width: 90%;
    margin-top: 50px;
    margin-bottom: 50px;
    overflow-x: hidden;

}

.header__logo {
    width: 210.322px;
    height: 68px;
    flex-shrink: 0;
}

.header__button {
    display: flex;
    align-items: center;
}

.header__button-- {
    color: #000;
    margin-left: 20px;
    font-family: Montserrat;
    font-size: 24px;
    font-style: normal;
    border: none;
    cursor: pointer;
    text-decoration: none;
    padding: none;

    &:hover {
        border-bottom: 2px solid black;
    }
}

@media only screen and (max-width: 600px) {
    .header {
        width: 90%;
    }

    .header__logo {
        width: 145px;
        height: auto;
        margin-right: auto;

    }

    .header__button {}

    .header__button-- {
        color: #000;
        text-align: right;
        font-family: Montserrat;
        font-size: 12px;
        font-weight: 500;
        text-transform: uppercase;
    }
}