#root {
    padding: 0;
    max-width: max-content;
}

html,
body {
    height: 100%;
}

.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: black;
    width: 100%;
    padding: 66px 0 0 0;
    /* Largeur du footer sur toute la page */
    bottom: 0;

}

.footer p {
    color: #FFF;
    text-align: center;
    font-family: Montserrat;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
}

.LogoFooter {
    width: 122px;
    margin-bottom: 29px;
    flex-shrink: 0;
}